<% provide(:title, "Ratings") %>
<header>
<%= render 'layouts/header' %>
</header>
<div class="centerBackground">

<h1>Evaluations for <%=@selected_user.u_name%></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Evaluator</th>
      <th>Rating</th>
      <th>Comments</th>
    </tr>
  </thead>

    <tbody>
        <%= @evalsWanted.all.each do |eval| %>
        <tr>
            <td><%= eval.user.u_name %></td>
            <td><%= eval.rating %></td>
            <td><%= eval.content %></td>
        </tr>
        <% end %>
    </tbody>
</table>

</div>