<% provide(:title, "Ratings") %>
<div class="centerBackground">

<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Evaluations for <%=@selected_user.u_name%></th>
    </tr>
  </thead>

    <tbody>
        <%= @selected_user.evaluations.each do |eval| %>
        <tr>
            <td><%= @user_projects.find(eval.project_id).p_name %></td>
            <td><%= eval.rating %></td>
            <td><%= eval.content %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<p>Find me in app/views/admin_static_pages/ratingPage.html.erb</p>
</div>