<header>
<%= render 'layouts/header' %>
</header>
<h1><%= @selected_project.p_name %> Groups</h1>

<%= link_to_primary_button 'Create New Group', new_group_path %>
<%= link_to_primary_button 'Add Existing Group to ' + @selected_project.p_name, findAvailableGroups_path %>


<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

    <tbody>
        <% @selected_project.groups.each do |group| %>
        <tr>
            <td> <%=link_to_button group.g_name, usersInGroup_path(:selected_group => group.id)%>
        </tr>
        <% end %>
    </tbody>
</table>