<div class="centerBackground">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.u_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<button type="button" class ="submitBtn"><%= link_to 'Create Another User', new_user_path %></button>
<button type="button" class ="submitBtn"><%= link_to 'Projects', projects_path %></button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Current Students</th>
      <th>Email</th>
    </tr>
  </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.u_name %></td>
            <td><%= user.email %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
<%= render 'layouts/footer' %>