<% provide(:title, "Projects") %>
<header>
<%= render 'layouts/header' %>
</header>

<div class="centerBackground">
<h1>Admin Home</h1>
<%= link_to_primary_button 'Current Students', users_path %>
<%= link_to_primary_button 'Current Admins', admins_path %>


<h3>Projects</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Due</th>
    </tr>
  </th>

    <tbody>
        <% @projects.each do |project| %>
        <tr>
            <td><%= link_to project.p_name, groupsInProject_path(:selected_project => project.id) %></td>
            <td><%=project.project_type%></td>
            <td><%=project.due_date%></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>

<%= render 'layouts/footer' %>
