<div class="centerBackground">

<p id="notice"><%= notice %></p>

<p>
  <strong>Project: </strong>
  <%= @project.p_name %>
</p>

<button type="button" class ="submitBtn"><%= link_to 'Create Another User', new_project_path %></button>
<button type="button" class ="submitBtn"><%= link_to 'Projects', projects_path %></button>
</div>
<%= render 'layouts/footer' %>