<a class="header_title"href="<%=projects_path%>">Peer Evaluation Tool</a>
<div class="dropdown">

  <button id="dropbtn" class="btn btn-primary">Create New ▼</button>
  <div class="dropdown-content">
    <a href="<%=new_project_path%>">Project</a>
    <a href="<%=new_group_path%>">Group</a>
    <a href="<%=new_user_path%>">Student</a>
    <a href="<%=new_admin_path%>">Admin</a>
  </div>
</div>